body {
    overflow: hidden;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#files {
    float: right;
    width: 25%;
    margin: 0;
}

#main {
    width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    font-family: monospace;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    width: 800px;
    overflow: auto;
    border: solid lightgrey 1px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: solid lightgrey 1px;
}

li a.active {
    background-color: #f5c10e;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}